<% include partials/header %>

<p style="text-align:left;">
Bokningssystem <a href="bokningar"><b>Bokningar</b></a> <a href="index">Kommande Körningar</a>
<span style="float:right;"><a href="skapaBokning">Skapa ny bokning</a></span>
</p>



<% include partials/footer %>